/**/

@media only screen and (max-width: 428px) {
  .container-width {
  margin: 0px 24px 0 24px;
}

.container-width-left {
  margin: 0px 0px 0 24px;
}

.container-width-right {
  margin: 0px 24px 0px 0px;
}

.container {
    width: 100%;
    color: #fff;
}

.footer {
  flex: 0 0 auto;
}

.nav--menu li {
    display: none;
}

/* intro */

.intro {
    max-width: 428px;
    height: 928px;
    margin: 0px -62px 241px 0px;
}

.intro--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro--title-white {
    font-size: 36px;
    line-height: 44px;
}

.intro--title-yellow {
  font-size: 48px;
  line-height: 48px;
}

.intro--title-opacity {
  font-size: 72px;
  line-height: 90%;
    width: 305px;
    height: 130px;
}

.intro--video {
  bottom: -160px;
  right: 0;
}

.video--item {
  min-width: 295px;
  height: 187px;
}

/* top-excursion */

.suptitle-ancor {
    display: none;
}

/* card */

.card {
    min-width: 280px;
    height: 540px;
}

.card--suptitle {
    font-size: 13px;
}

.info-img {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.info--time {
    margin-right: 15px;
}

.card--text {
  height: 160px;
  width: 253px;

}

.aboutUs-img {
  height: 704px;
  width: 304px;
}

.aboutUs--block {
  height: 386px;
  width: 380px;
  padding: 43px;
}

.aboutUs--block p{
  width: 130px;
  height: 170px;
  font-size: 13px;
  width: 294px;
  height: 96px;
  line-height: 16px;
}

.aboutUs--block p:first-child {
    margin-bottom: 20px;
}


/* types */
.types--grid {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.item-types--text {
    width: 455px;
    width: 285px;
    font-size: 13px;
    line-height: 16px;
}

.types-footer p{
    font-size: 13px;
    line-height: 16px;
    width: 380px;
    height: 48px;
}


/* gallery */

.gallery-grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    row-gap: 12px;
    justify-content: center;
    justify-items: center;
}

.gallery--item {
    border-radius: 5px;
}

.gallery--item-first {
    width: 380px;
    height: 260px;
    grid-column: 1/3;
    grid-row: 3;
}

.gallery--item-second {
    width: 180px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.gallery--item-third {
    grid-column: 2;
    grid-row: /1;
    width: 180px;
    height: 194px;
}

.gallery--item-fourth {
  display: none;
}

.gallery--item-fifth {
  display: none;
}

.gallery--item-sixth {
  display: none;
}

.gallery--item-seventh {
  display: none;
}

.gallery--item-eighth {
    width: 180px;
    height: 194px;
    grid-column: 2;
    grid-row: 2;
}


/* comments */

.comments--item {
  max-width: 280px;
  height: 447px;
  display: flex;
  flex-direction: column;
  padding: 0px 24px 48px 28px;
}

.comments--item-img {
  width: 80px;
  height: 80px;
}

.comments--text p {
  width: 228px;
  height: 240px;
}

.comments--text-who {
  margin: 20px 0 10px 0;
}

.comments--back-img {
  z-index: -1;
  position: absolute;
  bottom: 13px;
  right: 10px;
}

.question {
    position: relative;
}

.question--background {
    width: 428px;
    height: 928px;
}

.question--block {
    background: rgb(0 0 0 / 50%);
    width: 380px;
    height: 640px;
    padding: 42px;
    position: absolute;
    bottom: 0px;
    right: 6px;
}

.question--block p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFC700;
    margin: 6px 0px 60px 0px;
}

.question--form {
    margin-bottom: 83px;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}

.input-label {
    margin-bottom: 0;
}

.input-field {
    width: 295px;
    font: inherit;
    padding: -10px;
}


/* FOOTER */

.footer-wrap {
    display: flex;
    margin: 47px 0 51px 0;
    flex-direction: column;
}

.footer-logo {
    width: 80px;
    height: 114px;
}


.link-footer {
    margin: 0;
}

.nav-footer li{
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
}

.numbers-item {
    width: 100px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;

}

.socials-mail {
    display: none;
}

}
